.container {
    border: 1px solid red;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    min-height: 0;
    margin-bottom: 20px;

  }

body {
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  background-color: #cecece;
}

.box {
    display: flex;
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 60px;
    height: 25px;
    outline: auto;
    outline-color: black;
  
  } 

    .box1 {
    background-color: #4D993A;
    flex: 2;
    }
    .box2 {
        background-color: #4D993A;
        flex: 1;
        }
    .box3 {
            background-color: #4D993A;
            flex: 1;
            }


img{
  width: 100%;
  height: 100%;
  outline: auto;
 outline-style: solid;
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}

p{
  font-size: 22px;
  max-width: 40%;
  text-align: center;
  font-family: sans-serif
}


h1{
  text-align: center;
  font-size: 40px;
  margin-bottom: -10px;
  font-weight: bold;
}

.text {
  display: flex;
  justify-content: center;
}

.container2 {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(0, 0, 0);
  width: 100vw;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  position: relative;
  margin-top: 40px;
  background-color: #C17308;

}

.box4 {
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 10px;
  width: 100px;
  height: 25px;
  outline: auto;
  outline-color: rgb(0, 0, 0);

} 
.box5 {
  background-color: #C17308;
  flex: 1;
  }
  .box6 {
      background-color: #C17308;
      flex: 1;
      }
  .box7 {
          background-color: #C17308;
          flex: 1;
          }
  .box8 {
    background-color: #C17308;
          flex: 1;
  }

  .Menu {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
   justify-content: center;
  }

.MenuItem {
  width: 30%;
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.MenuItem p {
  width: 100%;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
  font-weight: bold;

}

  .Pastry1 {

    object-fit: cover;

  }

  a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
  }

  a:visited {
    color: rgb(0, 0, 0);
    font-weight: bolder;
  }
