.container {
    border: 1px solid red;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    min-height: 0;
    min-width: none;
    max-width: 160;
  }

.box {
    display: flex;
    color: white;
    font-size: 32px;
    padding: 10px;
    width: 60px;
    height: 40px;
    outline: auto;
    outline-color: black;
    float: inline-start;
  } 

    .box1 {
    background-color: dodgerblue;
    flex: 2;
    }
    .box2 {
        background-color: dodgerblue;
        flex: 1;
        }
    .box3 {
            background-color: dodgerblue;
            flex: 1;
            }